@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css or tailwind.config.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Colors */
.text-navy-900 {
  color: #1a202c; /* Navy Blue */
}

.text-gold-500 {
  color: #f7d02c; /* Gold */
}

.bg-gold-500 {
  background-color: #f7d02c; /* Gold */
}

.bg-gold-600 {
  background-color: #ffd700; /* Lighter Gold */
}
